body {
  /*background: linear-gradient(#6c9ac3,#FFFFFF);*/
  /*background: linear-gradient(#FFFFFF,#6c9ac3);*/
  background: #FFFFFF;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

.x:hover{
  background: #E10000;
}

.x{
  padding-top:-2px;
  padding-bottom: -2px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: right;
}

td.xTab{
  text-align: right;
}

.table{
  /*margin:12px !important;
  border: 1px solid #FFFFFF !important;*/
}

.tableElements{
  cursor:pointer; 
}

.table-striped{
/*  margin:12px !important;
  border: 1px solid #FFFFFF !important;*/
  /*border-bottom: !important;*/
}

span.x{
  cursor:pointer;
}

td:hover {

}

.checkBox{
  text-align:right;
}

.tableHeader{
  font-size:140%;
}

.container{
  height:85vh;
  background-color:#FFFFFF;
  box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.5);
}

.header {
  padding: 14px;
  border-top: 1px solid #333333;
  /*border-bottom: 3px solid #FF4A00;*/
  box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.25);
  /* background: linear-gradient(#051c62,#051c62); */
  /* background: linear-gradient(#051c62,#6c9ac3); */
  background: #8b8b8b;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

.header h1 {
  font-size: 450%;
  text-align: center;
  color: #dd3e74;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 3px 3px 5px black;
  margin-bottom: 22px;
  margin-top: -5px;
}


#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 500px;
  overflow: auto;
}

.buttonWrap{
  text-align: center;
}

.createEvent{
  width: 300px;
  height: 70px;
  margin:0 auto;
 /*border: 5px  black;*/
  border-style: outset;
  text-align:center;
  line-height: 60px;
  font-size: 250%;
  color: #dd3e74;
  background: #CCCCCC;
  /*text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 3px 3px 5px black;*/
}

.tableTitle{
  font-size: 300%;
  text-align:center;
  color:#00adef;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 3px 3px 5px black;*/
}


.NewListingHeader {
  margin-top: -5px;
  margin-bottom: -5px;
  text-align: center;
}